<!DOCTYPE html>
<html>

<head>
    <title>Edit Task</title>
    <link rel="stylesheet" href="dist/style.css">
</head>

<body>

    <h1>Edit Task</h1>

    <form action="/updateTodo" method="POST">
        <input type="hidden" name="id" value="<%= todo.id %>">

        <label>Task:</label>
        <input type="text" name="task" value="<%= todo.task %>" required>

        <br><br>

        <label>Status:</label>
        <select name="done">
            <option value="false" <%=!todo.done ? "selected" : "" %>>Pending</option>
            <option value="true" <%=todo.done ? "selected" : "" %>>Completed</option>
        </select>

        <br><br>

        <button type="submit">Update</button>
    </form>

    <br>
    <a href="/">Back</a>

</body>

</html>